section.success{
    background: url(../img/aboutme.svg) no-repeat center center;
    background-size: cover;
}


.home {
    width: 95%;
    padding-top:25%;
}

@media only screen and (min-width: 768px) {
    .home {
        width: 50%;
        padding-top:0%;
    }
}

hr.star-light:after {
    background-color: #4F575A;
}
